@charset "utf-8";
/* CSS Document */

/* ------------------------------------------------- Menu ------------------------------- */
.DOTA_Menu{
	position:relative; font-size:12px; line-height:22px; background:#666; border:1px solid #666; cursor:default;
}
.DOTA_Menu *, .DOTA_Menu div{
	z-index:1000;
}
.DOTA_MainMenu{
	height:24px; overflow:hidden; background:#666;
}
.DOTA_MainMenu .DOTA_MenuItem{
	float:left; width:60px; color:#00C000; text-align:center; border:1px solid #666; 
}
.DOTA_MainMenu .hover{
	border:1px solid #00AA00;
}
.DOTA_MainMenu .click{
	border:1px solid #333; border-right:1px solid #aaa; border-bottom:1px solid #aaa;
}

.DOTA_SubMenu{
	display:none; position:absolute; top:25px; left:0px; background:#666; width:172px; overflow:hidden;
	border:1px solid #333; border-left:1px solid #aaa; border-top:1px solid #aaa;
}
.DOTA_SubMenu .DOTA_MenuItem{
	float:none; color:#00aa00; margin:1px;
}
.DOTA_SubMenu .hover{
	background:#008000; color:#FFFFFF; margin:1px;
}
.DOTA_SubMenu .DOTA_MenuSeparator{
	height:0px; line-height:0px; font-size:0px; margin-top:6px; margin-bottom:6px;
	margin-left:2px; margin-right:2px; border-top:1px solid #222; border-bottom:1px solid #aaa;
}
.DOTA_SubMenu .DOTA_MenuItem span{
	display:inline-block;
}
.DOTA_SubMenu .DOTA_MenuItem_Check{
	width:20px; font-family:"宋体"; text-align:center;
}
.DOTA_SubMenu .DOTA_MenuItem_Text{
	width:135px;
}
.DOTA_SubMenu .DOTA_MenuItem_More{
	width:15px; text-align:center;
}

/* ------------------------------------------------- Button ------------------------------- */
.DOTA_Button, .DOTA_Button_Hover{
	background:#005000; color:#00aa00; text-align:center; font-size:12px; cursor:default;
	border:1px solid #00aa00; letter-spacing:4px; padding:0px; margin:0px;
	width:60px; height:24px; line-height:24px;
}
.DOTA_Button_Hover{
	background:#006600; color:#eee;
}
.DOTA_Button_Down{
	background:#005500; color:#ddd; padding-left:1px; padding-top:1px;
	width:59px; height:23px;
}

/* ------------------------------------------------- Window ------------------------------- */
.DOTA_Window {
	position:relative; left:50px; top:50px; background:#666; border:1px solid #333; width:400px; height:300px;
}
.DOTA_Window .titleContainer{
	height:25px; line-height:25px; background:#444; color:#00AA00; overflow:hidden; padding:2px; cursor:default;
}
.DOTA_Window .titleContainer .title{
	font-weight:bold; padding-left:5px;
}
.DOTA_Window .titleContainer .button, .DOTA_Window .titleContainer .hover {
	display:block; position:absolute; top:3px; right:5px; width:18px; height:18px; line-height:18px; 
	text-align:center; font-family:Arial; font-size:14px; font-weight:bold;
	padding:1px;
}
.DOTA_Window .titleContainer .hover{
	border:1px solid #00AA00; cursor:pointer; background:#00AA00; color:#FFF; padding:0px;
}
.DOTA_Window .content{
	height:260px; overflow:auto; color:#FFF; 
}
.DOTA_Dialog{
	display:none;
}
.DOTA_Dialog .buttonContainer{
	position:relative; height:60px;
}
.DOTA_Window_MoveBG{
	 position:absolute; display:none; background:#666; border:1px solid #333;
}
.DOTA_Window_MoveBG div{
	height:25px; line-height:25px; background:#444; overflow:hidden; 
}


/* ------------------------------------------------- Tab ------------------------------- */
.DOTA_Tab{
	overflow:hidden;
}
.DOTA_Tab_Title{
	height:22px; line-height:22px; padding-left:10px;
}
.DOTA_Tab_Title a, .DOTA_Tab_Title a:hover{
	display:inline-block; margin-right:1px; padding-left:8px; padding-right:8px;
	background:#FFF; cursor:default;
}
.DOTA_Tab_Title a:hover{
	background:#EEE;
}
.DOTA_Tab_Title .click, .DOTA_Tab_Title a.click:hover{
	background:#888; color:#FFF;
}
.DOTA_Tab_Content{
	background:#FFF; border:1px solid #888;
}


/* ------------------------------------------------- Slider ------------------------------- */
.DOTA_Slider{
	height:20px; line-height:20px; overflow:hidden; position:relative;
}
.DOTA_Slider_Line{
	float:left; border-top:1px solid #333; border-bottom:1px solid #aaa; 
	height:0px; line-height:0px; font-size:0px; margin-top:10px;
}
.DOTA_Slider_Text{
	float:right; color:#EEE; -moz-user-select:none;
}
.DOTA_Slider_Box{
	position:absolute; clear:both; top:0px; width:8px; height:20px; background:#555; cursor:default;
	border-top:1px solid #777;  border-left:1px solid #777;
	border-right:1px solid #444; border-bottom:1px solid #444; 
}


/* ------------------------------------------------- Tooltip ------------------------------- */
.DOTA_Tooltip{
	position:absolute; border:1px solid #999; background:#444; color:#00AA00;
}